
        <%= image_tag'24032777_s.jpg', size:"1320x500" ,style:"position: relative;" %>
          <h2 style="position:absolute; top:180px; left:250px; color:#FEBFD2; background-color:rgba(0,0,0,0.3);">
            ひとたびサイトへようこそ！</br>
            このサイトでは、一人旅行に行きたいけど</br>
            どこがいいのか分からない人や興味がある人に</br>
            オススメなレビューサイトです。</br>
            旅行好きな人もオススメです！</br>
            試しにゲストログインでコンテンツを楽しみましょう!</br>
          </h2>
      </div>

      <div>
        <div class = "new-arrival">
          <h2>レビュー評価が高い場所！</h2>
          <div class = "new-arrival-contents" style="display:flex; flex-wrap:wrap;">
            <% @reviews.each do |review| %>
                <div class="mr-3 mt-3">
                  <%= image_tag review.image, size:"200x150" %>
                    <p class="mt-3 mb-1"><strong><%= review.travel_comment %></strong></p>
                    <p class="mb-5">
                      <div id="evaluation<%= review.id%>"></div>
                      <script>
                        $('#evaluation<%= review.id %>').empty();
                        $('#evaluation<%= review.id%>').raty({
                        size      : 36,
                        starOff   : '<%= asset_path('star-off.png') %>',
                        starOn    : '<%= asset_path('star-on.png') %>',
                        starHalf  : '<%= asset_path('star-half.png') %>',
                        readOnly: true,
                        score: <%= review.evaluation %>,
                        });
                      </script>
                    </p>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>