<%= render 'layouts/flash' %>

<%= image_tag'24032777_s.jpg', size:"1450x500" ,style:"position: relative;" %>
<h2 style="position:absolute; top:180px; left:270px; color:#FEBFD2; background-color:rgba(0,0,0,0.3);">
  ひとたびサイトへようこそ！</br>
  このサイトでは、一人旅行に行きたいけど</br>
  どこがいいのか分からない人や興味がある人に</br>
  オススメなレビューサイトです。</br>
  旅行好きな人もオススメです！</br>
  試しにゲストログインでコンテンツを楽しみましょう!</br>
</h2>

<h2 class="", style="font-weight:bold;">投稿一覧</h2>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @reviews.each do |review| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-deck">
              <div class="card">
                <%= image_tag review.image, size:"345x200" %>
                <div class="card-body">
                  <h5 class="card-title"><%= review.title %></h5>
                  <p class="card-text"><%= review.travel_comment %></p>
                  <div id="evaluation<%= review.id%>"></div>
                  <script>
                    $('#evaluation<%= review.id %>').empty();
                    $('#evaluation<%= review.id%>').raty({
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf  : '<%= asset_path('star-half.png') %>',
                    readOnly: true,
                    score: <%= review.evaluation %>,
                    });
                  </script>
                  <p class="mb-5"><strong><%= review.user.nickname %></strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>