<h1>検索結果</h1>
<% if @results.length != 0 %>
  <% @results.each do |result| %>
    <%= link_to public_review_path(result), class:"text-dark"  do %>
      <div class="mr-3 mt-3">
        <%= image_tag result.image, size:"200x150" %>
        <p class="mt-3 mb-1"><strong><%= result.travel_comment %></strong></p>
        <p class="mb-5">
          <div id="evaluation<%= result.id%>"></div>
          <script>
            $('#evaluation<%= result.id %>').empty();
            $('#evaluation<%= result.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            readOnly: true,
            score: <%= result.evaluation %>,
            });
          </script>
        </p>
        <p class="mb-5"><strong><%= result.user.nickname %></strong></p>
      </div>
    <% end %>
  <% end %>
    <% else %>
    検索結果はありません
<% end %>





