<body>
  <button type="button" class="btn btn btn-outline-info btn-sm", style="margin-top:30px; margin-left:150px;">
    <%= link_to 'Topページへ', public_reviews_path, class: "nav-link" %>
  </button>
  <h3 class="", style="margin-top:50px; margin-left:150px;">タグ名</h3>
  <ul>
    <%# 該当のPostからアソシエーションでタグを取得 %>
    <% @review.tags.each do |tag| %>
      <%# タグを展開 %>
      <li class="", style="margin-top:50px; margin-left:150px;">
        <%= link_to tag.tag_name, public_tag_path(tag) %>
      </li>
    <% end %>
  </ul>

  <h2 class="", style="font-weight:bold;">投稿</h2>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-10", style= "margin-left:90px;">
            <%= link_to public_review_path(@review), class:"text-dark"  do %>
              <div class="card-deck">
                <div class="card">
                  <%= image_tag @review.image, size:"920x500" %>
                  <div class="card-body">
                    <h5 class="card-title"><%= @review.title %></h5>
                    <p class="card-text"><%= @review.travel_comment %></p>
                    <div id="evaluation<%= @review.id%>"></div>
                    <script>
                      $('#evaluation<%= @review.id %>').empty();
                      $('#evaluation<%= @review.id%>').raty({
                      size      : 36,
                      starOff   : '<%= asset_path('star-off.png') %>',
                      starOn    : '<%= asset_path('star-on.png') %>',
                      starHalf  : '<%= asset_path('star-half.png') %>',
                      readOnly: true,
                      score: <%= @review.evaluation %>,
                      });
                    </script>
                    <p class="mb-5"><strong><%= @review.user.nickname %></strong></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="like-<%= @review.id %>">
      <%= render "public/likes/like", review: @review %>
    </div>
  
    <h2 class="", style="font-weight:bold;">コメント一覧</h2>
      
      <div id="comment-<%= @review.id %>">
        <%= render "public/comments/comment", review: @review, comment: @comment%>
      </div>
 </body>

