<h3 class="", style="margin-top:50px; margin-left:150px;">いいね一覧</h3>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @likes.reverse_each do |like| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= link_to public_review_path(like), class:"text-dark"  do %>
              <div class="card-deck">
                <div class="card">
                  <%= image_tag like.review.image, size:"345x200" %>
                  <div class="card-body">
                    <h5 class="card-title"><%= like.review.title %></h5>
                    <p class="card-text"><%= like.review.travel_comment %></p>
                    <div id="evaluation<%= like.review.id%>"></div>
                    <script>
                      $('#evaluation<%= like.review.id %>').empty();
                      $('#evaluation<%= like.review.id %>').raty({
                      size      : 36,
                      starOff   : '<%= asset_path('star-off.png') %>',
                      starOn    : '<%= asset_path('star-on.png') %>',
                      starHalf  : '<%= asset_path('star-half.png') %>',
                      readOnly: true,
                      score: <%= like.review.evaluation %>,
                      });
                    </script>
                    <p class="mb-5"><strong><%= like.user.nickname %></strong></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @likes.empty? %>
  <h2>お気に入りはありません</h2>
<% end %>
<%= link_to 'トップページに戻る', public_reviews_path %>

